body {
    
}
#profilePage{
    margin-top:3rem;
}
#profileDetails {
    height: 15rem;
    background-color: #fce9e6;
}

.personInfo {
    height: 20rem;
    background-color: #fce9e6;
}

#editProfile{
    text-align:right;
    position:absolute;
    right:0;
    top:0;
    padding:2rem;
}

img{
    border-radius:50%;
    padding:15px 5px;
}

#fullName{
    text-align:center;
    padding-bottom:5rem;
    position:absolute;

}