@{
    ViewBag.Title = "EMAIL CONFIRMED";
}

<h2 class="emailConfirmationTitle">@ViewBag.Title</h2>
<div>
    <p class="emailConfirmation">
        Thank you for confirming your email. We love you!!
    </p>
</div>
