<div style="background-color:#F8EDEB">
    <div class="bg-light">
        <div class="container py-5">
            <div class="col-md-2"></div>
            <div class="row h-100 align-items-center py-5">
                <div class="col-md-8">
                    <h1 class="display-4" id="AboutText">O nama</h1>
                    <p class="lead text-muted mb-0" id="AboutContext">InfiniGuide je ideja koja je nastala u doba korona krize. Cilj projekta je olakšat ljudima planiranje i posjećivanje mjesta koja su oduvijek htjeli posjetiti ali su se bojali velikih gužvi tijekom razgledavanja grada.</p>
                </div>                
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5" style="margin-top:4rem" id="test">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-md-6 order-2 order-lg-1" style="padding-bottom:3rem">
                    <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light"id="AboutText">Odakle smo</h2>
                    <p class="font-italic text-muted mb-4" id="AboutContext">Naš tim se upoznao na najboljem faksu u Hrvatskoj pod nazivom Algebra</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2" style="margin-top:4rem;padding-left:10rem"><img src="https://repozitorij.algebra.hr/sites/repozitorij.algebra.hr/files/algebra_subbrand_vu_color-black_h_1.png" alt="" width="400" class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 px-5 mx-auto" style="margin-top:8rem;padding-bottom:2rem;padding-left:2rem"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/Map_of_Dubrovnik_old_town.png" alt="" width="500" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6">
                    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light"id="AboutText" style="margin-top:10rem;">O Projektu</h2>
                    <p class="font-italic text-muted mb-4"id="AboutContext" style="margin-top:3rem;padding-right:3rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="padding-bottom:2rem">
                    <h2 class="display-4 font-weight-light" id="AboutText" style="margin-top:10rem">Naš Tim</h2>
                    <p class="font-italic text-muted" id="AboutContext" style="margin-bottom:3rem">Studenti algebre koji zele olakšati ljudima razgledavanje gradova</p>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row text-center">
                <div>
                    <div class="col-md-4">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://avatarfiles.alphacoders.com/210/210306.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Bernardo Bogoje</h5><span class="small text-uppercase text-muted">Student</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://avatarfiles.alphacoders.com/165/thumb-165945.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Marko Pleslic</h5><span class="small text-uppercase text-muted">Student</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e4afbada-2391-436b-96b7-bba79f8753eb/d6g47vp-733ced0a-648b-416a-80bc-29243dc58dbf.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTRhZmJhZGEtMjM5MS00MzZiLTk2YjctYmJhNzlmODc1M2ViXC9kNmc0N3ZwLTczM2NlZDBhLTY0OGItNDE2YS04MGJjLTI5MjQzZGM1OGRiZi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.dKxqkiUKQ7X4cfOljterLrIGhL_FC7z-mXoc6aoGts8" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Goran Smernić</h5><span class="small text-uppercase text-muted">Student</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
