<div style="background-color:#F8EDEB">
    <div class="bg-light">
        <div class="container py-5">
            <div class="col-md-3"></div>
            <div class="row h-100 align-items-center py-5">
                <div class="col-md-6" id="slika"><img src="~/Assets/MarkoLogoTransparent.png" width="400" /></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <div class="container py-5">
            <div class="col-md-3"></div>
            <div class="row h-100 align-items-center py-5">
                <div class="col-md-6" id="tekst" style="font-family: 'Roboto', sans-serif;text-shadow: 1.5px 1.5px #b8b8b8;"><h4>Ova stranica služi kao WEB API za mobilnu aplikaciju InfiniGuide.</h4></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>