<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="row createRouteFont">

    <div class="" style="padding:0">
        <div id="map"></div>
    </div>
    <div class="routesBackround" style="padding-left:0">
        <div class="placesList" style="padding:0">
            <label class="control-label" style="margin-left:1.5rem">Routes</label>
            <ul class="list-group" id="ulRoutes"></ul>
        </div>
    </div>

</div>
<script src="~/Scripts/AllRoutesScript.js?version=2.0"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABEBuCrk6hjlgoVpXRl1poys2MjRCasDA&callback=initMap"
		type="text/javascript"></script>
